/* --- Light --- */
.light-theme {
  /* Background */
  --sable-bg-container: #f4f4f7;
  --sable-bg-container-hover: #eaeaed;
  --sable-bg-container-active: #e0e0e3;
  --sable-bg-container-line: #cdcdd0;
  --sable-bg-on-container: #1b1a21;

  /* Surface */
  --sable-surface-container: #ffffff;
  --sable-surface-container-hover: #f5f5f5;
  --sable-surface-container-active: #ebebeb;
  --sable-surface-container-line: #dedede;

  /* Surface Variant */
  --sable-surface-var-container: #fbfbfe;
  --sable-surface-var-container-hover: #f4f4f7;
  --sable-surface-var-container-active: #eaeaed;
  --sable-surface-var-container-line: #d3d3d6;
  --sable-surface-var-on-container: #5a45ba;

  /* Primary */
  --sable-primary-main: #5a45ba;
  --sable-primary-main-hover: #482fa3;
  --sable-primary-main-active: #3d1d92;
  --sable-primary-main-line: #30007f;
  --sable-primary-on-main: #ffffff;
  --sable-primary-container: #e6e5ff;
  --sable-primary-container-hover: #d9d8f2;
  --sable-primary-container-active: #cccbe4;
  --sable-primary-container-line: #bfbed7;
  --sable-primary-on-container: #1b1a21;

  /* Secondary */
  --sable-sec-main: #47474c;
  --sable-sec-main-hover: #353539;
  --sable-sec-main-active: #28282d;
  --sable-sec-main-line: #1a1a1e;
  --sable-sec-on-main: #ffffff;
  --sable-sec-container: #d3d3d6;
  --sable-sec-container-hover: #c6c6c9;
  --sable-sec-container-active: #b9b9bc;
  --sable-sec-container-line: #adadb0;
  --sable-sec-on-container: #1b1a21;

  /* Success */
  --sable-success-main: #006c00;
  --sable-success-main-hover: #005700;
  --sable-success-main-active: #004900;
  --sable-success-main-line: #003800;
  --sable-success-on-main: #ffffff;
  --sable-success-container: #e3efe3;
  --sable-success-container-hover: #d6e2d6;
  --sable-success-container-active: #c9d5c9;
  --sable-success-container-line: #bcc8bc;
  --sable-success-on-container: #1b1a21;

  /* Warning */
  --sable-warn-main: #8c3c00;
  --sable-warn-main-hover: #762700;
  --sable-warn-main-active: #661800;
  --sable-warn-main-line: #530100;
  --sable-warn-on-main: #ffffff;
  --sable-warn-container: #f3eadd;
  --sable-warn-container-hover: #e6ddd0;
  --sable-warn-container-active: #d9d0c3;
  --sable-warn-container-line: #ccc3b6;
  --sable-warn-on-container: #1b1a21;

  /* Critical */
  --sable-crit-main: #a20519;
  --sable-crit-main-hover: #8a0000;
  --sable-crit-main-active: #790000;
  --sable-crit-main-line: #640000;
  --sable-crit-on-main: #ffffff;
  --sable-crit-container: #f8e6e4;
  --sable-crit-container-hover: #ebd9d7;
  --sable-crit-container-active: #ddccca;
  --sable-crit-container-line: #d0bfbd;
  --sable-crit-on-container: #1b1a21;

  /* Other */
  --sable-surface-on-container: #1b1a21;
  --sable-focus-ring: rgb(90 69 186 / 0.5);
  --sable-shadow: rgba(0, 0, 0, 0.12);
  --sable-overlay: rgb(244 244 247 / 0.85);
}

/* --- Silver --- */
.silver-theme {
  /* Background */
  --sable-bg-container: #d6d9e2;
  --sable-bg-container-hover: #cccfd8;
  --sable-bg-container-active: #c3c6ce;
  --sable-bg-container-line: #b0b3bb;
  --sable-bg-on-container: #1b1a21;

  /* Surface */
  --sable-surface-container: #eaedf6;
  --sable-surface-container-hover: #e0e3ec;
  --sable-surface-container-active: #d6d9e2;
  --sable-surface-container-line: #c9ccd5;

  /* Surface Variant */
  --sable-surface-var-container: #dde0e9;
  --sable-surface-var-container-hover: #d6d9e2;
  --sable-surface-var-container-active: #cccfd8;
  --sable-surface-var-container-line: #b6b9c2;
  --sable-surface-var-on-container: #6e56cf;

  /* Primary */
  --sable-primary-main: #6e56cf;
  --sable-primary-main-hover: #5b40b7;
  --sable-primary-main-active: #4f30a7;
  --sable-primary-main-line: #401a93;
  --sable-primary-on-main: #ffffff;
  --sable-primary-container: #e8e4ff;
  --sable-primary-container-hover: #dbd7f2;
  --sable-primary-container-active: #cecae4;
  --sable-primary-container-line: #c1bdd7;
  --sable-primary-on-container: #1b1a21;

  /* Secondary */
  --sable-sec-main: #47474c;
  --sable-sec-main-hover: #353539;
  --sable-sec-main-active: #28282d;
  --sable-sec-main-line: #1a1a1e;
  --sable-sec-on-main: #ffffff;
  --sable-sec-container: #b6b9c2;
  --sable-sec-container-hover: #a9acb5;
  --sable-sec-container-active: #9da0a9;
  --sable-sec-container-line: #91949c;
  --sable-sec-on-container: #1b1a21;

  /* Success */
  --sable-success-main: #006c00;
  --sable-success-main-hover: #005700;
  --sable-success-main-active: #004900;
  --sable-success-main-line: #003800;
  --sable-success-on-main: #ffffff;
  --sable-success-container: #e3efe3;
  --sable-success-container-hover: #d6e2d6;
  --sable-success-container-active: #c9d5c9;
  --sable-success-container-line: #bcc8bc;
  --sable-success-on-container: #1b1a21;

  /* Warning */
  --sable-warn-main: #8c3c00;
  --sable-warn-main-hover: #762700;
  --sable-warn-main-active: #661800;
  --sable-warn-main-line: #530100;
  --sable-warn-on-main: #ffffff;
  --sable-warn-container: #f3eadd;
  --sable-warn-container-hover: #e6ddd0;
  --sable-warn-container-active: #d9d0c3;
  --sable-warn-container-line: #ccc3b6;
  --sable-warn-on-container: #1b1a21;

  /* Critical */
  --sable-crit-main: #a20519;
  --sable-crit-main-hover: #8a0000;
  --sable-crit-main-active: #790000;
  --sable-crit-main-line: #640000;
  --sable-crit-on-main: #ffffff;
  --sable-crit-container: #f8e6e4;
  --sable-crit-container-hover: #ebd9d7;
  --sable-crit-container-active: #ddccca;
  --sable-crit-container-line: #d0bfbd;
  --sable-crit-on-container: #1b1a21;

  /* Other */
  --sable-surface-on-container: #1b1a21;
  --sable-focus-ring: rgb(110 86 207 / 0.5);
  --sable-shadow: rgba(0, 0, 0, 0.12);
  --sable-overlay: rgb(214 217 226 / 0.85);
}

/* --- Dark --- */
.dark-theme {
  /* Background */
  --sable-bg-container: #1b1a21;
  --sable-bg-container-hover: #222128;
  --sable-bg-container-active: #292830;
  --sable-bg-container-line: #38373f;
  --sable-bg-on-container: #ffffff;

  /* Surface */
  --sable-surface-container: #292830;
  --sable-surface-container-hover: #302f38;
  --sable-surface-container-active: #38373f;
  --sable-surface-container-line: #42414a;

  /* Surface Variant */
  --sable-surface-var-container: #121118;
  --sable-surface-var-container-hover: #1b1a21;
  --sable-surface-var-container-active: #222128;
  --sable-surface-var-container-line: #33323a;
  --sable-surface-var-on-container: #bdb6ec;

  /* Primary */
  --sable-primary-main: #bdb6ec;
  --sable-primary-main-hover: #d3ccff;
  --sable-primary-main-active: #e4ddff;
  --sable-primary-main-line: #f8f1ff;
  --sable-primary-on-main: #1b1a21;
  --sable-primary-container: #292637;
  --sable-primary-container-hover: #333042;
  --sable-primary-container-active: #3d3a4c;
  --sable-primary-container-line: #484557;
  --sable-primary-on-container: #ffffff;

  /* Secondary */
  --sable-sec-main: #bdbdc0;
  --sable-sec-main-hover: #d3d3d7;
  --sable-sec-main-active: #e4e4e7;
  --sable-sec-main-line: #f8f8fb;
  --sable-sec-on-main: #1b1a21;
  --sable-sec-container: #33323a;
  --sable-sec-container-hover: #3d3c45;
  --sable-sec-container-active: #48474f;
  --sable-sec-container-line: #53525a;
  --sable-sec-on-container: #ffffff;

  /* Success */
  --sable-success-main: #91d993;
  --sable-success-main-hover: #a7f0a9;
  --sable-success-main-active: #b8ffb9;
  --sable-success-main-line: #cbffcc;
  --sable-success-on-main: #1b1a21;
  --sable-success-container: #151d15;
  --sable-success-container-hover: #1e271e;
  --sable-success-container-active: #283028;
  --sable-success-container-line: #323b32;
  --sable-success-on-container: #ffffff;

  /* Warning */
  --sable-warn-main: #f2b966;
  --sable-warn-main-hover: #ffd07d;
  --sable-warn-main-active: #ffe08d;
  --sable-warn-main-line: #fff4a0;
  --sable-warn-on-main: #1b1a21;
  --sable-warn-container: #201910;
  --sable-warn-container-hover: #2a2219;
  --sable-warn-container-active: #342c23;
  --sable-warn-container-line: #3e362c;
  --sable-warn-on-container: #ffffff;

  /* Critical */
  --sable-crit-main: #ffa59d;
  --sable-crit-main-hover: #ffbbb3;
  --sable-crit-main-active: #ffccc3;
  --sable-crit-main-line: #ffdfd6;
  --sable-crit-on-main: #1b1a21;
  --sable-crit-container: #231716;
  --sable-crit-container-hover: #2d201f;
  --sable-crit-container-active: #372a29;
  --sable-crit-container-line: #423433;
  --sable-crit-on-container: #ffffff;

  /* Other */
  --sable-surface-on-container: #ffffff;
  --sable-focus-ring: rgb(189 182 236 / 0.5);
  --sable-shadow: rgba(0, 0, 0, 0.4);
  --sable-overlay: rgb(27 26 33 / 0.85);
}

/* --- Butter --- */
.butter-theme {
  /* Background */
  --sable-bg-container: #1a1916;
  --sable-bg-container-hover: #21201d;
  --sable-bg-container-active: #282724;
  --sable-bg-container-line: #373633;
  --sable-bg-on-container: #ffffff;

  /* Surface */
  --sable-surface-container: #282724;
  --sable-surface-container-hover: #2f2e2b;
  --sable-surface-container-active: #373633;
  --sable-surface-container-line: #41403d;

  /* Surface Variant */
  --sable-surface-var-container: #11100d;
  --sable-surface-var-container-hover: #1a1916;
  --sable-surface-var-container-active: #21201d;
  --sable-surface-var-container-line: #32312e;
  --sable-surface-var-on-container: #e3ba91;

  /* Primary */
  --sable-primary-main: #e3ba91;
  --sable-primary-main-hover: #fad1a7;
  --sable-primary-main-active: #ffe1b7;
  --sable-primary-main-line: #fff5ca;
  --sable-primary-on-main: #1b1a21;
  --sable-primary-container: #332619;
  --sable-primary-container-hover: #3d3023;
  --sable-primary-container-active: #483a2d;
  --sable-primary-container-line: #534537;
  --sable-primary-on-container: #ffffff;

  /* Secondary */
  --sable-sec-main: #bfbdbb;
  --sable-sec-main-hover: #d6d3d1;
  --sable-sec-main-active: #e6e4e2;
  --sable-sec-main-line: #faf8f6;
  --sable-sec-on-main: #1b1a21;
  --sable-sec-container: #32312e;
  --sable-sec-container-hover: #3c3b38;
  --sable-sec-container-active: #474643;
  --sable-sec-container-line: #52514d;
  --sable-sec-on-container: #ffffff;

  /* Success */
  --sable-success-main: #91d993;
  --sable-success-main-hover: #a7f0a9;
  --sable-success-main-active: #b8ffb9;
  --sable-success-main-line: #cbffcc;
  --sable-success-on-main: #1b1a21;
  --sable-success-container: #151d15;
  --sable-success-container-hover: #1e271e;
  --sable-success-container-active: #283028;
  --sable-success-container-line: #323b32;
  --sable-success-on-container: #ffffff;

  /* Warning */
  --sable-warn-main: #f2b966;
  --sable-warn-main-hover: #ffd07d;
  --sable-warn-main-active: #ffe08d;
  --sable-warn-main-line: #fff4a0;
  --sable-warn-on-main: #1b1a21;
  --sable-warn-container: #201910;
  --sable-warn-container-hover: #2a2219;
  --sable-warn-container-active: #342c23;
  --sable-warn-container-line: #3e362c;
  --sable-warn-on-container: #ffffff;

  /* Critical */
  --sable-crit-main: #ffa59d;
  --sable-crit-main-hover: #ffbbb3;
  --sable-crit-main-active: #ffccc3;
  --sable-crit-main-line: #ffdfd6;
  --sable-crit-on-main: #1b1a21;
  --sable-crit-container: #231716;
  --sable-crit-container-hover: #2d201f;
  --sable-crit-container-active: #372a29;
  --sable-crit-container-line: #423433;
  --sable-crit-on-container: #ffffff;

  /* Other */
  --sable-surface-on-container: #ffffff;
  --sable-focus-ring: rgb(227 186 145 / 0.5);
  --sable-shadow: rgba(0, 0, 0, 0.4);
  --sable-overlay: rgb(26 25 22 / 0.85);
}
